<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body id="body-adminMain">
    <div class="col-md-4 col-md-offset-4" id="main-head">
	    <h2>Application approval</h2>
	</div>
    <div class="container-fluid" style="color:aliceblue;">
        <div id="">
            <% if (applications.length > 0) {%>
            <div class="table-responsive">
                <table class="table" style="color:aliceblue;">
                    <thead>
                      <tr>
                        <th scope="col">Date Submitted</th>
                        <th scope="col">Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Code</th>
                        <th scope="col">License Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% applications.forEach(function(application){ %>   
                        <tr>
                            <td><%=application.createdAt.toISOString().slice(0,10)%></td>
                            <td><%=application.name%></td>
                            <td><%=application.idNo%></td>
                            <td><%=application.code%></td>
                            <td><%=application.licenseNo%></td>
                            <td><%=application.status%></td>
                            <td><%=application.comments%></td>
                            <% const id = application._id %>
                            <td><a href="/adminUpdate/<%=application._id%>" id="admin-button">Update</a></td>
                        </tr>
                        <% }) %>
                        <% } else { %>
                        <h3>No applications currently pending</h3>
                        <br><br>
                        <h3>Please log a new application</h3>
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <%- include ('./partials/footer.ejs') %>
    </div>
</body>
</html>