<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>

    <div class="container" id="admin-update">
        <div style="font-family: 'Courier New', Courier, monospace;">
            <div class="container-md">
                <% if (applications.length > 0) {%>
                    <% applications.forEach(function(application) {%>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <h3>Date Submited:</h3>
                                <p><%=application.createdAt.toISOString().slice(0,10)%></p>
                                <br>
                            </div>
                            <div class="col-6 col-md-3">
                                <h3>ID Number:</h3>
                                <p><%=application.idNo%></p>
                                <br>
                            </div>
                            <div class="col-6 col-md-3">
                                <h3>Name:</h3>
                                <p><%=application.name%></p>
                                <br>
                            </div>
                            <div class="col-6 col-md-3">
                                <h3>License Code:</h3>
                                <p><%=application.code%></p>
                                <br>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <h3>License Number:</h3>
                                <p><%=application.licenseNo%></p>
                                <br>
                            </div>
                            <div class="col-6 col-md-4">
                                <h3>Applicant Contact Number:</h3>
                                <p><%=application.contactNo%></p>
                                <br>
                            </div>
                            <div class="col-6 col-md-4">
                                <h3>Applicant Delivery Address:</h3>
                                <p><%=application.deliveryAddress%></p>
                                <br>
                            </div>
                        </div>                   
                    <% }) %>
                <% } else { %>
                    <p>Nothing to display...</p>
                <% } %>
            </div>
        </div>
    
        <div class="container mx-auto" id="update-form" style="font-family: 'Courier New', Courier, monospace;">
            <form action="/adminUpdate" method="POST" >
                <div style="display:none">
                    <% if (applications.length > 0) {%>
                        <% applications.forEach(function(application) {%>
                            <input type="text" readonly name="id" class="form-control-plaintext" value="<%=application._id%>">
                    <% }) %>
                    <% } else { %>
                         <p>Nothing to display...</p>
                    <% } %>
                </div>
                <div class="form-group">
                    <h3><label for="exampleFormControlSelect1">Status</label></h3>
                    <select class="form-control" id="exampleFormControlSelect1" name="status" required>
                      <option>Pending</option>
                      <option>Approved</option>
                      <option>Declined</option>
                    </select>
                  </div>
                <div class="form-group">
                  <h3><label for="exampleFormControlInput1">Comments</label></h3>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comments" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
    
    <div class="fixed-bottom">
        <%- include ('./partials/footer.ejs') %>
    </div>
   
    

</body>
</html>