<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body id="body-driverApp">
    <div class="container-md mx-auto" style="text-align: center; margin-top: 30px;">
        <% if (user.length > 0) {%>
            <% user.forEach(function(user) {%>
                <h2>Welcome <%=user.firstName%></h2>
            <% }) %>
        <% } else { %>
            <p>Nothing to display...</p>
        <% } %>
    </div>

    <div id="driver-app">
        <div class="container-sm border">
            <p>Click here to log a new application</p>
            <button type="button" onclick="toggle()" class="btn btn-primary">Log new</button>
            <br><br>
            <div id="applicationForm">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="container-md">
                        <% if (user.length > 0) {%>
                            <% user.forEach(function(user) {%>
                                <div style="display: none;">
                                    <input type="text" readonly name="idNo" class="form-control-plaintext" value="<%=user.idNo%>">
                                    <input type="text" readonly name="email" class="form-control-plaintext" value="<%=user.email%>">
                                    <input type="text" readonly name="firstName" class="form-control-plaintext" value="<%=user.firstName%>">
                                    <input type="text" readonly name="secondName" class="form-control-plaintext" value="<%=user.secondName%>">
                                </div>     
                            <% }) %>
                        <% }%>
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">License Number</label>
                        <input type="text" name="licenseNo" class="form-control" id="exampleFormControlInput1" required>
                      </div>
    
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Code</label>
                        <select class="form-control" name="code" id="exampleFormControlSelect1">
                          <option>8</option>
                          <option>10</option>
                          <option>14</option>
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="contact">Contact Number (eg. 0812345678)</label>
                        <input type="text" class="form-control" id="contact" name="contact" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                      </div>
    
                      <div class="form-group">
                        <label for="deliveryAddress">Full delivery address</label>
                        <textarea class="form-control" name="address" id="deliveryAddress" rows="3" required></textarea>
                      </div>
    
                      <div class="form-group">
                        <label for="idCopy1">Certified ID Copy</label>
                        <input type="file" name="document" class="form-control-file" id="idCopy1" >
                      </div>
                      <br>
                      <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    
        <br><br>
    
        <div class="container-sm border">
            <p>Click here to view application status and history</p>
            <button type="button" onclick="toggle2()" class="btn btn-primary">View Status</button>
            <br><br>
            <div id="applicationStatus">
                <% if (applications.length > 0) {%>
                <div class="table-responsive">
                    <table class="table" style="background-color: rgba(231, 238, 255);">
                        <thead>
                          <tr>
                            <th scope="col">Date Submitted</th>
                            <th scope="col">Code</th>
                            <th scope="col">License Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">Comments</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                            <% applications.forEach(function(application){ %>   
                            <tr>
                                <th scope="row"><%=application.createdAt.toISOString().slice(0,10)%></th>
                                <td><%=application.code%></td>
                                <td><%=application.licenseNo%></td>
                                <td><%=application.status%></td>
                                <td><%=application.comments%></td>
                            </tr>
                            <% }) %>
                            <% } else { %>
                            <h3>No applications currently pending</h3>
                            <br><br>
                            <h3>Please log a new application</h3>
                            <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    
        <br><br>
    
        <div class="container-lg border">
            <p>Logout</p>
            <a href="../" class="btn btn-primary">Logout</a>
            <br><br>
        </div>
    </div>
    

    <div class="fixed-bottom">
		<%- include ('./partials/footer.ejs') %>
	</div>

    <script>
        function toggle() {
            var x = document.getElementById("applicationForm");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        function toggle2(){
            var y = document.getElementById("applicationStatus");
            if (y.style.display === "block") {
                y.style.display = "none";
            } else {
                y.style.display = "block";
            }
        }

    </script>
</body>
</html>